.mainBlock {
    margin: 0 auto;
    max-width: 1600px;
    padding: 20px;

}
.resultBlock {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-bottom: 60px;
}
.form__group {
    display: flex;
    flex-direction: column;
    margin: 128px auto 60px;
    width: 50%;
}
.form__group input{
    padding: 20px 35px;
    box-shadow: 0 7px 12px 0 hsla(240, 5%, 41%, .2);
    color: #656ec2;
    font-size: 20px;
    margin-bottom: 20px;
}
.form__group span{
    padding-left: 40px;
}
.itemBlock {
    box-shadow: 0 7px 12px 0 hsla(240, 5%, 41%, .2);
    width: calc(33.333% - 15px);
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.item__value{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.item__info{
margin-top: 20px;
    color: gray;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
}
.form__input {
    color: #333;
    font-size: 2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}
.form__label {
    font-size: 1.2rem;
    margin-left: 50%;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}
.form__input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}